<span style="font-family:Cambria; color:#c27767">
Optional: install if required
</span>

In [1]:
# Uncomment if required
# !pip install pandas --quiet

<span style="font-family:Cambria; color:#c27767">
Required packages:
</span>

In [2]:
# Standard library imports
import sys

# Third party imports
from IPython.core.display import HTML

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno

from datetime import date

from geopy.geocoders import Nominatim
import folium

# Local application/library specific imports
sys.path.append('functions')

from find_lat_long import find_lat_long
from prepare_rain_data import prepare_rain_data

<span style="font-family:Cambria; color:#c27767">
Run below to lines for readability and style options:
</span>

In [3]:
# Pandas - run to display Data Frames properly

# To limit displayed rows
pd.options.display.max_rows = 50

#  To show all columns
pd.options.display.max_columns = 100

# To round floating numbers
pd.options.display.float_format = '{:,.2f}'.format
# To unset rounding float numbers
# pd.set_option("display.float_format", None)

<span style="font-family:Cambria; color:#c27767">

## 1. Import clean data
</span>

<span style="font-family:Cambria">
To run EDA I will not transform wind direction and location for now.
</span>

In [4]:
# run the custom function to load clean data
rain_data_clean = prepare_rain_data(
    wind_direction_transformation = False, 
    location_transformation = False
)

In [5]:
rain_data_clean

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2007-11-01,Albury,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>
1,2007-11-01,Badgerys Creek,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>
2,2007-11-01,Cobar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>
3,2007-11-01,Coffs Harbour,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>
4,2007-11-01,Moree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172720,2017-06-25,Launceston,1.80,12.80,0.00,NaN,NaN,NW,50.00,NNW,NNW,15.00,17.00,84.00,73.00,NaN,NaN,8.00,8.00,9.40,12.40,False,False
172721,2017-06-25,Alice Springs,9.60,NaN,0.00,NaN,NaN,NaN,NaN,WSW,E,6.00,17.00,36.00,19.00,"1,021.40","1,017.50",1.00,1.00,15.60,26.30,False,<NA>
172722,2017-06-25,Darwin,19.30,NaN,0.00,5.00,NaN,NaN,NaN,E,NNW,13.00,17.00,68.00,45.00,"1,013.90","1,010.70",6.00,1.00,24.60,29.00,False,<NA>
172723,2017-06-25,Katherine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,E,9.00,17.00,NaN,NaN,"1,014.90","1,011.70",NaN,NaN,NaN,NaN,<NA>,<NA>
172724,2017-06-25,Uluru,14.90,NaN,0.00,NaN,NaN,NaN,NaN,ESE,ESE,17.00,17.00,62.00,36.00,"1,020.20","1,017.90",8.00,8.00,15.00,20.90,False,<NA>